/* ------------------------------------
   Experiences
*/
.section {
  margin-top: 50px;
}

.row.extra-exp {
  margin-top: 50px;
}

.exp-title {
  font-size: 20px;
  font-weight: bold;
}

.pics img {
  display: block;
  height: 150px;
  /* width: 100px; */
  margin: auto;
}


/* ------------------------------------
   Separating Line
*/
hr {
  border-top: 5px solid #79828c75;
}


/* ------------------------------------
   LinkedIn Button
*/
.lk-id-btn {
  margin-top: 50px;
}
