<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" name="viewport" content="width=device-width,initial-scale=1">
    <title>Salvador Villalon Projects</title>

    <link rel="icon" href= "../static/images/salvador logo/favicon.ico">
    <link rel="stylesheet" type="text/css" href="../static/css/reset.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css">
    <link href="https://fonts.googleapis.com/css?family=PT+Mono" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Archivo+Black" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../static/css/layout.css">
    <link rel="stylesheet" type="text/css" href="../static/css/projects.css">

  </head>
  <body>

    <section>
      <header>
        <!-- fixed-top makes the navbar stick to the top of the screen as the user is scrolling -->
        <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- ml-auto makes content of navbar to the left, but not the logo -->
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="../index.html">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="projects.html">Projects</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="experiences.html">Experience</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="designs.html">Designs</a>
              </li>
            </ul>
          </div>
        </nav>
      </header>
    </section>

  <main>
    <!-- *************************************
      Jumbotron Section
    -->
    <div class="jumbotron jumbotron-fluid">
      <div class="container-fluid">
        <h1>Salvador Villalon</h1>
        <h3><em>The Projects in 2019</em></h3>
      </div>
    </div>


    <!-- *************************************
      2019 Projects Section
    -->
    <div class="section">
      <div class="container">
        <h2>2019 Projects</h2>

        <!-- *************************************
          Buttons Section
        -->
        <div class="github-btn">
          <h3>Find more projects on my GitHub Page!</h3>
          <a class="btn btn-primary"  href="https://github.com/salvillalon45" role="button">Find more on GitHub</a>
        </div>


        <!-- ********************************** -->
        <!-- JPMC Thoughts -->
        <div class="row recent-proj">
          <div class="col-md-6">
            <div class="project-description">
              <p class="project-title"><em>JPMC Summer 2019 Intership Thoughts and Lessons Learned</em></p>
              <p>September 2019</p>
              <p>A React Application where I share my thoughts and experiences on my internship at JPMorgan Chase & Co at the Chicago, IL office. This application served as a way for me to practice React and JavaScript.</p>
              <ul>
                 <li><a  href="https://github.com/salvillalon45/JPMCSummer2019-Thoughts">GitHub Repository</a></li>
                 <li> | </li>
                 <li><a  href="http://jpmc_thoughts.surge.sh/">Site</a></li>
              </ul>
              <p><strong>Technologies Used:</strong> HTML, CSS, React, JavaScript, Bootstrap, Surge, Git, GitHub</p>
            </div>
          </div>

          <div class="col-md-6 pics">
            <img src="../static/images/projects/2019/jpmc_thoughts.PNG">
          </div>
        </div>

        <!-- ********************************** -->
        <!-- Jamming -->
        <div class="row recent-proj">
          <div class="col-md-6">
            <div class="project-description">
              <p class="project-title"><em>Salvador Villalon Codecademy Capstone Project: Jammming</em></p>
              <p>August 2019</p>
              <p>A web application that uses the Spotify API to allow users to search for music and create new playlist based on the search results. The newly created playlists will be shown on the Spotify account.</p>
              <ul>
                <li><a  href="https://github.com/salvillalon45/codecademy-Jamming">GitHub Repository</a></li>
                <li> | </li>
                <li><a  href="http://sv_jamming.surge.sh/">Site</a></li>
              </ul>
              <p><strong>Technologies Used:</strong> HTML, CSS, React, JavaScript, Bootstrap, Spotify API, Surge, Git, GitHub</p>
            </div>
          </div>

          <div class="col-md-6 pics jamming">
            <img src="../static/images/projects/2019/jamming.PNG">
          </div>
        </div>

        <!-- ********************************** -->
        <!-- Search Engine -->
        <div class="row recent-proj">
          <div class="col-md-6">
            <div class="project-description">
              <p class="project-title"><em>Search Engine</em></p>
              <p>January 2019</p>
              <p>This was one of the projects from the class I took this past Fall Quarter 2018. The class was called CS 121: Information Retrieval which is an introduction to information retrieval including indexing, retrieval, classifying, and clustering text and multimedia documents.</p>
              <ul>
                <li><a href="https://github.com/salvillalon45/Search-Engine">GitHub Repository</a></li>
                <li> | </li>
                <li><a href="https://search-engine-uci.appspot.com/">Site</a></li>
              </ul>
              <p><strong>Technologies Used:</strong> HTML, CSS, Python, Flask, NLTK, Google App Engine, MongoDB, MLab</p>
            </div>
          </div>

          <div class="col-md-6 pics">
            <img src="../static/images/projects/2019/search_engine.PNG">
          </div>
        </div>

      </div>
  </div>


</main>



  <!-- *************************************
    Footer Section
  -->
  <footer class="footer">
    <p> Made by Salvador Villalon </p>
    <ul>
      <a  href="https://medium.com/@salvav1"><li>Medium</li></a>
      <li> | </li>
      <a  href="https://github.com/salvillalon45"><li>GitHub</li></a>
      <li> | </li>
      <a  href="https://www.linkedin.com/in/salvadorvillalon/"><li>LinkedIn</li></a>
      <li> | </li>
      <a  href="../index.html"><li>personal website version 2</li></a>
      <li> | </li>
      <a  href="http://salvador-villalon.appspot.com/"><li>personal website version 1</li></a>
    </ul>
  </footer>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>


  </body>
</html>
