<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Salvador Villalon Experiences</title>

    <link rel="icon" href= "../static/images/salvador logo/favicon.ico">
    <link rel="stylesheet" type="text/css" href="../static/css/reset.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css">
    <link href="https://fonts.googleapis.com/css?family=PT+Mono" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Archivo+Black" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../static/css/layout.css">
    <link rel="stylesheet" type="text/css" href="../static/css/experiences.css">

  </head>
  <body>

    <section>
      <header>
        <!-- fixed-top makes the navbar stick to the top of the screen as the user is scrolling -->
        <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- ml-auto makes content of navbar to the left, but not the logo -->
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="../index.html">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="projects.html">Projects</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="experiences.html">Experience</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="designs.html">Designs</a>
              </li>
            </ul>
          </div>
        </nav>
      </header>
    </section>

  <main>
    <!-- *************************************
      Jumbotron Section
    -->
    <div class="jumbotron jumbotron-fluid">
      <div class="container-fluid">
        <h1>Salvador Villalon</h1>
        <h3><em>The Experience</em></h3>
      </div>
    </div>


    <!-- *************************************
      Buttons Section
    -->
    <div class="container text-center lk-id-btn">
      <a class="btn btn-primary" target="_blank" href="https://www.linkedin.com/in/salvadorvillalon/" role="button">Learn more on LinkedIn</a>
      <a class="btn btn-primary" target="_blank" href="../static/documents/resume/Villalon_Salvador_Resume.pdf" role="button">Check out my Resume</a>
    </div>


    <!-- *************************************
      Education and Certificates Section
    -->
    <div class="Education-Certficates section">
      <div class="container">
        <h2>Education and Certificates</h2>

        <!-- ********************************** -->
        <!-- UCI Education -->
        <div class="education row extra-exp">

          <div class="col-md-6">
            <p class="exp-title">University of California, Irvine</p>
            <p>Bachelor's of Science, Computer Science</p>
            <p>Irvine, CA</p>
            <p>2015 - 2020</p>
          </div>

          <div class="col-md-6 pics">
            <img style="height: 150px;" src="../static/images/logos/uci.png">
          </div>

        </div> <!-- End of UCI Intro -->

        <div class="education row">
          <div class="education-description">
            <div class="col-md-12">
              <strong><p>Degree Coming Soon</a></p></strong>
              <p><strong>Technologies Learned</strong><p>
              <ul>
                <li>I still have a lot to learn!</li>
              </ul>
              <p><strong>Relevant Coursework</strong><p>
              <ul>
                <li>Introduction to Data Management </li>
                <li>Software Design: Structure and Implementation</li>
                <li>Data Structure Implementation and Analysis </li>
                <li>Introduction to Human Computer Interaction</li>
                <li>Information Retrieval</li>
                <li>Introduction to Computer Orgnization</li>
              </ul>
            </div>
          </div>
        </div>  <!-- End of UCI Experience -->


        <!-- ********************************** -->
        <!-- freeCodeCamp Education -->
        <div class="education row extra-exp">

          <div class="col-md-6">
            <p class="exp-title">freeCodeCamp</p>
            <p>Responsive Web Design, Developer Certification</p>
            <p>Irvine, CA</p>
            <p>Issued on Sept 20, 2018</p>
          </div>

          <div class="col-md-6 pics">
            <img style=" " src="../static/images/logos/free_1.jpeg">
          </div>

        </div> <!-- End of freeCodeCamp Intro -->

        <div class="education row">
          <div class="education-description">
            <div class="col-md-12">
              <strong><p><a target="_blank" href="https://www.freecodecamp.org/certification/salvillalon45/responsive-web-design">Certificate can be found here</a></p></strong>
              <p><strong>Technologies Learned</strong><p>
              <ul>
                <li>HTML, CSS, Applied Visual Design, Applied Accessibility, Responsive Web Design Principles, CSS Flexbox, CSS Grid</li>
              </ul>
              <p><strong>Completed Projects</strong><p>
              <ul>
                <li><a target="_blank" href="https://salvillalon45.github.io/freecodecamp-sherwynnTributepage/">Project 1: Build a Tribute Page</a></li>
                <li><a target="_blank" href="https://salvillalon45.github.io/freecodecamp-SurveyForm/">Project 2: Build a Survey Form</a></li>
                <li><a target="_blank" href="https://salvillalon45.github.io/freecodecamp-ProductLandingPage/">Project 3: Build a Product Landing Page</a></li>
                <li><a target="_blank" href="https://salvillalon45.github.io/freecodecamp-TutorialDocumentation/">Project 4: Build a Technical Documentation Page</a></li>
                <li><a target="_blank" href="https://salvillalon45.github.io/">Project 5: Build a Personal Portfolio Webpage</a></li>
              </ul>
            </div>
          </div>
        </div>  <!-- End of freeCodeCamp Experience -->



        <!-- ********************************** -->
        <!-- Codecademy Experience -->
        <div class="education row extra-exp">

          <div class="col-md-6">
            <p class="exp-title">Codecademy</p>
            <p>Build Websites from Scratch, Web Development Fundamentals Certification</p>
            <p>Irvine, CA</p>
            <p>Issued on Sept 18, 2018</p>
          </div>

          <div class="col-md-6 pics">
            <img style=" " src="../static/images/logos/codecademy.png">
          </div>

        </div> <!-- End of Codecademy Intro -->

        <div class="education row">
          <div class="education-description">
            <div class="col-md-12">
              <p><a target="_blank" href="https://www.credential.net/zay1e5jk">Certificate can be found here</a></p>
              <p><strong>Technologies Learned</strong><p>
              <ul>
                <li>HTML, CSS, Bootstrap, JQuery, JavaScript, Command Line & Git, GitHub, Design Layout, Design Principles, Responsive Web Design Principles</li>
              </ul>
              <p><strong>Completed Projects</strong><p>
              <ul>
                <li><a target="_blank" href="https://salvillalon45.github.io/codecademy-secretAgentSupply/index.html">Project: Secret Agent Supply</a></li>
                <li><a target="_blank" href="https://salvillalon45.github.io/codecademy-teaCozy/index.html">Project: Tea Cozy</a></li>
                <li><a target="_blank" href="https://salvillalon45.github.io/codecademy-tortoiseshellOptics/">Project: Tortoiseshell Optics</a></li>
                <li><a target="_blank" href="https://salvillalon45.github.io/codecademy-capstoneColmarAcademy/capstone_colmar_assets/">Project: Colmar Academy</a></li>
                <li><a target="_blank" href="https://salvillalon45.github.io/codecademy-jumpstart/">Project: Jumpstart</a></li>
                <li><a target="_blank" href="https://salvillalon45.github.io/codecademy-capstoneFotomaticProject/F1C1_start/">Project: Fotomatic</a></li>
                <li><a target="_blank" href="https://salvillalon45.github.io/codecademy-excursion/">Project: Execursion</a></li>

              </ul>
            </div>
          </div>
        </div>  <!-- End of codecademy Experience -->

      </div> <!-- End Education container -->
    </div> <!-- End Education section -->

    <hr>

    <!-- *************************************
      Work Experience Section
    -->
    <div class="technology section">
      <div class="container">
        <h2> Work Experience </h2>

        <!-- ********************************** -->
        <!-- JPMC Experience -->
        <div class="experience row extra-exp">

          <div class="col-md-6">
            <p class="exp-title">Software Engineer Intern</p>
            <p>JPMorgan Chase & Co | Chicago, Il</p>
            <p>June 2019 - Aug 2019 </p>
            <strong><p>As an Intern I...</p></strong>
          </div>

          <div class="col-md-6 pics">
            <img style="width: 250px; height: 100px;" src="../static/images/logos/jpmc.png">
          </div>

        </div> <!-- End of JPMC Intro -->

        <div class="experience row">
          <div class="experience-description">
            <div class="col-md-12">
              <ul>
                <li>Coming Soon</li>
              </ul>
              <p><strong>Technologies Used</strong><p>
              <ul>
                <li>Coming Soon</li>
              </ul>
            </div>
          </div>
        </div> <!-- End of JPMC EXperience -->


        <!-- ********************************** -->
        <!-- SPDJI Experience -->
        <div class="experience row extra-exp">

          <div class="col-md-6">
            <p class="exp-title">Software Development Intern</p>
            <p>S&P Dow Jones Indices | New York, NY</p>
            <p>June 2018 - Aug 2018</p>
            <strong><p>As an Intern I...</p></strong>
          </div>

          <div class="col-md-6 pics">
            <img src="../static/images/logos/spdji_logo.png">
          </div>

        </div> <!-- End of SPDJI Intro -->

          <div class="experience row">
            <div class="experience-description">
              <div class="col-md-12">
                <ul>
                  <li><strong>Initiated a new project where I created a web application</strong> by using Flask, deployed it using Google App Engine, and tested by running it inside a Docker Container. <a href="http://spgi2018-container-project.appspot.com/">Link</a></li>
                  <li><strong>Leveraged my fluency in Spanish to collaborate with an engineer from the Mexico City office</strong> to create a RESTful client using Java and Spring Framework that consumes the services from the Box RESTful API. Created a Java class to represent any errors from the Box API call. My code was submitted to codebase and sent to production in the next two months.</li>
                  <li>Created a <strong>3 part tutorial on how to create web applications using Flask and how to deploy them using Google App Engine</strong> on internal company blog and Medium</li>
                  <li>Worked on a <strong>project using Natural Language Processing methods</strong> such as Tf-Idf, Text Summarizing, Word Ranking on blogs made by company analysts. Used Python and Open Source technologies such as Gensim, NLTK, and TextBlob to implement methods.</li>
                  <li>Made a <strong>website</strong> showcasing all <strong>my summer internship experience.</strong> <a href="http://bit.ly/legacy-S2018">Link</a>
                  <li>Created a <strong>mockup</strong> to <strong>update the Campus Recruiting Student Resources website</strong>.<a href="http://bit.ly/mockup-campus"> Link</a>
                </ul>
                <p><strong>Technologies Used</strong><p>
                <ul>
                  <li>HTML, CSS, Bootstrap, Git, Flask, Google App Engine, GitHub Pages, Docker, Java, Eclipse, Postman, Spring Framework, Python, NLTK, TextBlob, Gensim, Natural Language Processing Methods Tf-Idf, Text Summarizing, and Word Ranking</li>
                </ul>
              </div>
            </div>
          </div> <!-- End of SPDJI EXperience -->



        <!-- ********************************** -->
        <!-- API Experience -->
        <div class="experience row extra-exp">

          <div class="col-md-6">
            <p class="exp-title">Administrative Intern Coordinator and Web Developer</p>
            <p>Student Life and Leadership | Irvine, CA</p>
            <p>Jan 2017 - Jun 2018</p>
            <strong><p>As Admin Intern Coordinator I...</p></strong>
          </div>

          <div class="col-md-6 pics">
            <img style="height: 150px;" src="../static/images/logos/aip_logo.png">
          </div>

        </div> <!-- End of AIP Intro -->

        <div class="experience row">
          <div class="experience-description">
            <div class="col-md-12">
              <ul>
                <li>With a team of 4, I <strong>interviewed and selected 21 student interns from 100 student applications</strong> for the 2017–2018 cohort.</li>
                <li>The co-coordinator and I <strong>facilitated a weekly class for the 21 interns</strong> where we brought a speaker that aims to develop the student’s professional and self-development.</li>
                <li>During the <strong>hiring process for new Admin Interns</strong>, we had a <strong>data collection problem</strong>. Data was being collected in various forms, such as Excel sheets, papers, and Google Forms. This made the hiring process unorganized.</li>
              </ul>
              <strong><p>As Admin Intern Web Developer I...</p></strong>
              <ul>
                <li>To fix this, I <strong>built a web application</strong> for future coordinators and supervisor to easily access all the candidate information. All the captured and validated information from the web application was to be used on the Administrative Tools (Admin Tools) which visualize and centralize all the information from the applicants. </li>
                <li>The Admin Tools allowed coordinators and the supervisor to check the information of each candidate, set up interviews for the candidates, mark who gets accepted into the program, and other important features. </li>
                <li>The website can be accessed here: <a href="http://studentlife.uci.edu/adminintern/">link</a></li>
              </ul>
              <p><strong>Technologies Used</strong><p>
              <ul>
                <li>HTML, CSS, PHP, MySQL, Bootstrap</li>
              </ul>
            </div>
          </div>
        </div>  <!-- End of AIP Experience -->

      </div> <!-- End Experience container -->
    </div> <!-- End Experience section -->

    <hr>

    <!-- *************************************
      Leadership Section
    -->
    <div class="leadership section">

      <div class="container">
        <h2> Leadership </h2>

        <!-- ********************************** -->
        <!-- SHPE Experience -->
        <div class="experience row extra-exp">

          <div class="col-md-6">
            <p class="exp-title">Society of Hispanic Professional Engineers at UC Irvine</p>
            <p>Irvine, CA</p>
          </div>

          <div class="col-md-6 pics">
            <img style="height: 100px; width: 250px;" src="../static/images/logos/shpe_logo.png">
          </div>

        </div> <!-- End of SHPE Intro -->

        <div class="experience row">
          <div class="experience-description">
            <div class="col-md-12">
              <p><strong>Positions Held</strong><p>
                <ul>
                <li>President </li>
                <li>Jun 2018 - Present</li>
                <br>
                <li>External Vice-President</li>
                <li>Jun 2017 - Jun 2018</li>
                <br>
                <li>Secretary</li>
                <li>Jun 2016 - Jun 2017</li>
              </ul>

            </div>
          </div>
        </div> <!-- End of SHPE EXperience -->


        <!-- ********************************** -->
        <!-- API Experience -->
        <div class="experience row extra-exp">
          <div class="col-md-6">
            <p class="exp-title">Administrative Intern Program at Student Life and Leadership</p>
            <p>Irvine, CA</p>
          </div>

          <div class="col-md-6 pics">
            <img style="height: 125px;" src="../static/images/logos/aip_logo.png">
          </div>
        </div> <!-- End of AIP Intro -->

        <div class="experience row">
          <div class="experience-description">
            <div class="col-md-12">
              <p><strong>Positions Held</strong><p>
              <ul>
                <li>Admin Intern Coordinator</li>
                <li>Jan 2017 - Jun 2018</li>
                <br>
                <li>Admin Intern Web Developer</li>
                <li>Sept 2017 – Jan 2018</li>
                <br>
                <li>Administrative Intern</li>
                <li>Sept 2016 - Jun 2017</li>
              </ul>
            </div>
          </div>
        </div> <!-- End of AIP EXperience -->

      </div> <!-- End Leadership container -->
    </div> <!-- End Leadership section -->

    <hr>

    <!-- *************************************
      Community Building Section
    -->
    <div class="community-building section">
      <div class="container">
        <h2>Community Building</h2>

        <!-- ********************************** -->
        <!-- Code2040 Experience -->
        <div class="experience row extra-exp">
          <div class="col-md-6">
            <div class="experience-description">
              <p class="exp-title">TAP (Tecnnical Applicant Prep) Campus Ambassador</p>
              <p>Mar 2016 - Present</p>
              <p>I was part of there very first Tech Trek cohort. I continue to promote opportunities that Code2040 offers.</p>
            </div>
          </div>

          <div class="col-md-6 pics">
            <img style="height: 50px; width: 250px;" src="../static/images/logos/code2040_logo.png">
          </div>
        </div> <!-- End of Code2040 EXperience -->

        <!-- ********************************** -->
        <!-- MLT  Experience -->
        <div class="experience row extra-exp">
          <div class="col-md-6">
            <div class="experience-description">
              <p class="exp-title">Career Prep Fellow at Management Leadership for Tomorrow</em></p>
              <p>Mar 2017 - Present</p>
              <p>MLT has given been everything that I needed to guide me to  success.  I would not have been where I am without them. Thanks for everything Coach Michelle.</p>
            </div>
          </div>

          <div class="col-md-6 pics">
            <img style="height: 100px;" src="../static/images/logos/mlt_logo.png">
          </div>
        </div> <!-- End of MLT EXperience -->

      </div> <!-- End Community Building container -->
    </div> <!-- End Community Building section -->

</main>



  <!-- *************************************
    Footer Section
  -->
  <footer class="footer">
    <p>Made by Salvador Villalon</p>
    <ul>
      <a target="_blank" href="https://medium.com/@salvav1"><li>Medium</li></a>
      <li> | </li>
      <a target="_blank" href="https://github.com/salvillalon45"><li>GitHub</li></a>
      <li> | </li>
      <a target="_blank" href="https://www.linkedin.com/in/salvadorvillalon/"><li>LinkedIn</li></a>
      <li> | </li>
      <a target="_blank" href="../index.html"><li>personal website version 2</li></a>
      <li> | </li>
      <a target="_blank" href="http://salvador-villalon.appspot.com/"><li>personal website version 1</li></a>
    </ul>
    <div class=" per-web-description">
    <p>
  </div>
  </footer>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>


  </body>
</html>
