<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Salvador Villalon Experiences</title>

    <link rel="icon" href= "../static/images/salvador logo/favicon.ico">
    <link rel="stylesheet" type="text/css" href="../static/css/reset.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css">
    <link href="https://fonts.googleapis.com/css?family=PT+Mono" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Archivo+Black" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../static/css/layout.css">
    <link rel="stylesheet" type="text/css" href="../static/css/experiences.css">

  </head>
  <body>

    <section>
      <header>
        <!-- fixed-top makes the navbar stick to the top of the screen as the user is scrolling -->
        <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- ml-auto makes content of navbar to the left, but not the logo -->
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="../index.html">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Resume</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="projects.html">Projects</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="experiences.html">Experience</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="designs.html">Designs</a>
              </li>
            </ul>
          </div>
        </nav>
      </header>
    </section>

  <main>
    <!-- *************************************
      Jumbotron Section
    -->
    <div class="jumbotron jumbotron-fluid">
      <div class="container-fluid">
        <h1>Salvador Villalon</h1>
        <h3><em>The Experience</em></h3>
      </div>
    </div>


    <!-- *************************************
      Technology Section
    -->
    <div class="technology section">
      <div class="container">
        <h2> Technology </h2>

        <!-- ********************************** -->
        <!-- SPDJI Experience -->
        <div class="experience row extra-exp">
          <div class="col-md-6">
            <div class="experience-description">
              <p class="exp-title"><em> Software Development Intern at S&P Dow Jones Indices </em></p>
              <p> Jun 2018 - Aug 2018 </p>
              <p>My very first internship and first time in New York. Glad I spend it here. I even made a website of everything I did (link).</p>
            </div>
          </div>

          <div class="col-md-6 pics">
            <img src="../static/images/logos/spdji_logo.png">
          </div>

        </div>

        <!-- ********************************** -->
        <!-- API Experience -->
        <div class="experience row extra-exp">
          <div class="col-md-6">
            <div class="experience-description">
              <em><p class="exp-title"> Web Developer at Administrative Intern Program  </p></em>
              <p> Sept 2017 - Jan 2018 </p>
              <p>I was the Admin Intern Program's first Web Developer. Here I created my first web application where real world users where going to use it.</p>

              <br>

              <em><p class="exp-title"> Admin Intern at Administrative Intern Program </p></em>
              <p> Sept 2016 - Jun 2017 </p>
              <p>Through this non-technical internship, I found my passion for for Software Engineering and Computer Science.</p>
            </div>
          </div>

          <div class="col-md-6 pics">
            <img style="height: 150px;" src="../static/images/logos/aip_logo.png">
          </div>

        </div>

      </div> <!-- End Experience container -->
    </div> <!-- End Experience section -->

    <hr>

    <!-- *************************************
      Leadership Section
    -->
    <div class="leadership section">
      <div class="container">

        <!-- ********************************** -->
        <!-- SHPE Experience -->
        <div class="experience row extra-exp">

          <div class="col-md-6">
            <div class="experience-description">
              <h2> Leadership </h2>
              <p class="exp-title"><em> President at Society of Hispanic Professional Engineers at UC Irvine </em></p>
              <p> Jun 2018 - Present </p>
              <p>My time has finally come to lead my SHPE Chapter and give others everything I wish I had earlier in my career.</p>

              <br>

              <p class="exp-title"><em> External Vice-President at Society of Hispanic Professional Engineers at UC Irvine </em></p>
              <p> Jun 2017 - Jun 2018 </p>
              <p>Continuing to live by the mission of SHPE.</p>

              <br>

              <p class="exp-title"><em> Secretary at Society of Hispanic Professional Engineers at UC Irvine </em></p>
              <p> Jun 2016 - Jun 2017 </p>
              <p>My first leadership position on campus. A small start to a big future.</p>
            </div>
          </div>

          <div class="col-md-6 pics">
            <img style="height: 100px;" src="../static/images/logos/shpe_logo.png">
          </div>

        </div>

        <!-- ********************************** -->
        <!-- API Experience -->
        <div class="experience row extra-exp">
          <div class="col-md-6">
            <div class="experience-description">
              <em><p class="exp-title">Student Coordinator at Administrative Intern Program</p></em>
              <p>Jan 2017 - Jun 2018</p>
              <p>This experience taught me valuable lessons in learning how to work with different people and understanding that every little detail matters.</p>
            </div>
          </div>

          <div class="col-md-6 pics">
            <img style="height: 150px;" src="../static/images/logos/aip_logo.png">
          </div>

        </div>

        <!-- ********************************** -->
        <!-- UCI Summer Session Experience -->
        <div class="experience row extra-exp">
          <div class="col-md-6">
            <div class="experience-description">
              <em><p class="exp-title">Freshman Edge Mentor at UCI Summer Session</p></em>
              <p>Jan 2016 - Sept 2016</p>
              <p>This experience gave me new friends and supervisors that I learned a lot from. They taught me that I must show my best in every meeting I have. Thank you David and Tiffany.</p>
            </div>
          </div>

          <div class="col-md-6 pics">
            <img style="height: 150px;" src="../static/images/logos/summer_session_logo.jpg">
          </div>

        </div>

      </div> <!-- End Leadership container -->
    </div> <!-- End Leadership section -->

    <hr>

    <!-- *************************************
      Work Section
    -->
    <div class="work section">
      <div class="container">

        <!-- ********************************** -->
        <!-- Lot 5  Experience -->
        <div class="experience row extra-exp">
          <div class="col-md-6">
            <div class="experience-description">
              <h2>Work Experience</h2>
              <p class="exp-title"><em>Dining Assistant at Lot 5 Dining Commons</em></p>
              <p>Sept 2015 - Aug 2016</p>
              <p>This experience made me even more humble. I understand the work people must go through every day to earn money to survive.</p>
            </div>
          </div>

          <div class="col-md-6 pics">
            <img style="height: 100px;" src="../static/images/logos/lot5_logo.png">
          </div>

        </div>

      </div> <!-- End Work container -->
    </div> <!-- End Work section -->
    <hr>

    <!-- *************************************
      Community Building Section
    -->
    <div class="community-building section">
      <div class="container">

        <!-- ********************************** -->
        <!-- Code2040  Experience -->
        <div class="experience row extra-exp">
          <div class="col-md-6">
            <div class="experience-description">
              <h2>Community Building</h2>
              <p class="exp-title"><em>TAP (Tecnnical Applicant Prep) Campus Ambassador</em></p>
              <p>Mar 2016 - Present</p>
              <p>I was part of there very first Tech Trek cohort. I continue to promote opportunities that Code2040 offers.</p>
            </div>
          </div>

          <div class="col-md-6 pics">
            <img style="height: 100px; width: 550px;" src="../static/images/logos/code2040_logo.png">
          </div>
        </div>

        <!-- ********************************** -->
        <!-- MLT  Experience -->
        <div class="experience row extra-exp">
          <div class="col-md-6">
            <div class="experience-description">
              <p class="exp-title"><em>Career Prep Fellow at Management Leadership for Tomorexperience row</em></p>
              <p>Mar 2017 - Present</p>
              <p>MLT has given been everything that I needed to guide me to  success.  I would not have been where I am without them. Thanks for everything Coach Michelle.</p>
            </div>
          </div>

          <div class="col-md-6 pics">
            <img style="height: 100px;" src="../static/images/logos/mlt_logo.png">
          </div>
        </div>

      </div> <!-- End Community Building container -->
    </div> <!-- End Community Building section -->

    <!-- *************************************
      Buttons Section
    -->
    <div class="container text-center lk-id-btn">
      <a class="btn btn-primary" target="_blank" href="https://www.linkedin.com/in/salvadorvillalon/" role="button">Learn more on LinkedIn</a>
      <a class="btn btn-primary" target="_blank" href="https://www.linkedin.com/in/salvadorvillalon/" role="button">Check out my Resume</a>
    </div>

</main>



  <!-- *************************************
    Footer Section
  -->
  <footer class="footer">
    <p>Made by Salvador Villalon</p>
    <ul>
      <a target="_blank" href="https://medium.com/@salvav1"><li>Medium</li></a>
      <li> | </li>
      <a target="_blank" href="https://github.com/salvillalon45"><li>GitHub</li></a>
      <li> | </li>
      <a target="_blank" href="https://www.linkedin.com/in/salvadorvillalon/"><li>LinkedIn</li></a>
      <li> | </li>
      <a target="_blank" href="../index.html"><li>personal website version 2</li></a>
      <li> | </li>
      <a target="_blank" href="http://salvador-villalon.appspot.com/"><li>personal website version 1</li></a>
    </ul>
    <div class=" per-web-description">
    <p>
  </div>
  </footer>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>


  </body>
</html>
