<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Salvador Villalon Projects</title>

    <link rel="icon" href= "../static/images/salvador logo/favicon.ico">
    <link rel="stylesheet" type="text/css" href="../static/css/reset.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css">
    <link href="https://fonts.googleapis.com/css?family=PT+Mono" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Archivo+Black" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../static/css/layout.css">
    <link rel="stylesheet" type="text/css" href="../static/css/projects.css">

  </head>
  <body>

    <section>
      <header>
        <!-- fixed-top makes the navbar stick to the top of the screen as the user is scrolling -->
        <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- ml-auto makes content of navbar to the left, but not the logo -->
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="../index.html">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Resume</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="projects.html">Projects</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="experiences.html">Experience</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="designs.html">Designs</a>
              </li>
            </ul>
          </div>
        </nav>
      </header>
    </section>

  <main>
    <!-- *************************************
      Jumbotron Section
    -->
    <div class="jumbotron jumbotron-fluid">
      <div class="container-fluid">
        <h1>Salvador Villalon</h1>
        <h3><em>The Projects</em></h3>
      </div>
    </div>


    <!-- *************************************
      Recent Projects Section
    -->
    <div class="section">
      <div class="container">
        <h2>Recent Projects</h2>

        <!-- ********************************** -->
        <!-- Personal Website Version 2 -->
        <div class="row recent-proj">
          <div class="col-md-6">
            <div class="project-description">
              <p class="project-title"><em>Personal Website Version 2</em></p>
              <p>Aug 2018 - Present </p>
              <p>At an Airbnb, I had a Front-End Developer as a roommate. He helped learn more about Front-End Development and helped me come up with a design that truly represents
                 me. <a target="_blank" href="http://miguelramos.rocks/">Learn more about him.</a></p>
              <ul>
                 <li><a target="_blank" href="#">GitHub Repository</a></li>
                 <li> | </li>
                 <li><a target="_blank" href="#">Site</a></li>
              </ul>
              <p><strong>Technologies Used:</strong> HTML, CSS, Bootstrap, Git, GitHub Pages</p>
            </div>
          </div>

          <div class="col-md-6 pics">
            <img src="../static/images/projects/web_ver_2.png">
          </div>
        </div>

        <!-- ********************************** -->
        <!-- Personal Website Version 1 -->
        <div class="row recent-proj">
          <div class="col-md-6">
            <div class="project-description">
              <p class="project-title"><em>Personal Website Version 1</em></p>
              <p> Dec 2017 - June 2018 </p>
              <p>My first attempt at making a website. After I realized that I have a lot to learn.</p>
              <ul>
                <li><a target="_blank" href="https://github.com/salvillalon45/salvadorvillalon">GitHub Repository</a></li>
                <li> | </li>
                <li><a target="_blank" href="http://salvador-villalon.appspot.com/">Site</a></li>
              </ul>
              <p><strong>Technologies Used:</strong> HTML, CSS, Bootstrap, Git, Flask, Google App Engine</p>
            </div>
          </div>

          <div class="col-md-6 pics">
            <img src="../static/images/projects/web_ver_1.png">
          </div>
        </div>

        <!-- ********************************** -->
        <!-- Pokedex -->
        <div class="row recent-proj">
          <div class="col-md-6">
            <div class="description">
              <p class="project-title"><em>Pokedex</em></p>
              <p>June 2018</p>
              <p>A Twilio SMS app where the users texts the name of a Pokemon to a number and it will return an image and pokedex description of the Pokemon.</p>
              <ul>
                 <li><a target="_blank" href="https://github.com/salvillalon45/pokedex">GitHub Repository</a></li>
                 <li> | </li>
                 <li><a target="_blank" href="http://twilio-pokedex.appspot.com/">Site</a></li>
              </ul>
              <p><strong>Technologies Used:</strong> HTML, CSS, Bootstrap, Git, GitHub Pages</p>
            </div>
          </div>

          <div class="col-md-6 pics">
            <img src="../static/images/projects/pokedex.png">
          </div>
        </div>

        <!-- ********************************** -->
        <!-- Legacy Repository -->
        <div class="row recent-proj">
          <div class="col-md-6">
            <div class="project-description">
              <p class="project-title"><em>Legacy Repository</em></p>
              <p>June 2018</p>
              <p>A respository containing everything that I did on my S&P Dow Jones Indices internship.</p>
              <ul>
                 <li><a target="_blank" href="https://github.com/salvillalon45/pokedex">GitHub Repository</a></li>
                 <li> | </li>
                 <li><a target="_blank" href="http://twilio-pokedex.appspot.com/">Site</a></li>
              </ul>
              <p><strong>Technologies Used:</strong> HTML, CSS, Bootstrap, Git, Flask, Google App Engine, GitHub Pages, Docker, Java, Eclipse, Postman, Spring Framework, Python, NLTK, TextBlob, Gensim</p>
            </div>
          </div>

          <div class="col-md-6 pics">
            <img style="width: 470px;" src="../static/images/projects/legacy_repo.png">
          </div>
        </div>

        <!-- ********************************** -->
        <!-- Flask Tutorial -->
        <div class="row recent-proj">
          <div class="col-md-6">
            <div class="project-description">
              <p class="project-title"><em>Flask Tutorial</em></p>
              <p>June 2018</p>
              <p>My first tutorial where I teach others how to create a web application using Flask and deploy to the cloud using Google App Engine.</p>
              <ul>
                 <li><a target="_blank" href="https://github.com/salvillalon45/SPGISummer2018-FlaskTutorial">GitHub Repository</a></li>
                 <li> | </li>
                 <li><a target="_blank" href="https://sal-flask-tutorial.appspot.com/">Site</a></li>
              </ul>
              <p><strong>Technologies Used:</strong> HTML, CSS, Bootstrap, Git, Flask, Google App Engine</p>
            </div>
          </div>

          <div class="col-md-6 pics">
            <img style="width: 470px;" src="../static/images/projects/flask_tutorial_banner.png">
          </div>
        </div>

    </div>
  </div>

  <hr>

    <!-- *************************************
        Front - End Section
    -->
    <div class="section">
      <div class="container">
        <h2>Front - End Projects</h2>

        <!-- ********************************** -->
        <!-- Row 1 -->
        <div class="row">

          <!-- ********************************** -->
          <!-- Fotomatic -->
          <div class="col-md-6">
            <div class="front-end-project">
              <img class="pics" src="../static/images/projects/front_end/fotomatic.png">
              <div class="project-description text-center">
                <p class="project-title"><em>Fotomatic</em></p>
                <ul >
                  <li><a target="_blank" href="https://github.com/salvillalon45/codecademy-capstoneFotomaticProject">GitHub Repository</a></li>
                  <li> | </li>
                  <li><a target="_blank" href="https://salvillalon45.github.io/codecademy-capstoneFotomaticProject/F1C1_start/">Site</a></li>
               </ul>
              </div>

            </div>
          </div>

          <!-- ********************************** -->
          <!-- Jumpstart -->
          <div class="col-md-6">
            <div class="front-end-project">
              <img class="pics" src="../static/images/projects/front_end/jumpstart.png">
              <div class="project-description text-center">
                <p class="project-title"><em>Jumpstart</em></p>
                <ul >
                  <li><a target="_blank" href="https://github.com/salvillalon45/codecademy-jumpstart">GitHub Repository</a></li>
                  <li> | </li>
                  <li><a target="_blank" href="https://salvillalon45.github.io/codecademy-jumpstart/">Site</a></li>
               </ul>
              </div>

            </div>
          </div>

        </div>

    <!-- ********************************** -->
    <!-- Row 2 -->
    <div class="row">

      <!-- ********************************** -->
      <!-- Secret Agent Supply -->
      <div class="col-md-6">
        <div class="front-end-project">
          <img class="pics" src="../static/images/projects/front_end/secret_agent.png">
          <div class="project-description text-center">
            <p class="project-title"><em>Secret Agent Supply</em></p>
            <ul >
              <li><a target="_blank" href="https://github.com/salvillalon45/codecademy-secretAgentSupply">GitHub Repository</a></li>
              <li> | </li>
              <li><a target="_blank" href="https://salvillalon45.github.io/codecademy-secretAgentSupply/index.html">Site</a></li>
           </ul>
          </div>

        </div>
      </div>

        <!-- ********************************** -->
        <!-- Tea Cozy -->
        <div class="col-md-6">
          <div class="front-end-project">
            <img class="pics" src="../static/images/projects/front_end/tea_cozy.png">
            <div class="project-description text-center">
              <p class="project-title"><em>Tea Cozy</em></p>
              <ul >
                <li><a target="_blank" href="https://github.com/salvillalon45/codecademy-teaCozy">GitHub Repository</a></li>
                <li> | </li>
                <li><a target="_blank" href="https://salvillalon45.github.io/codecademy-teaCozy/index.html">Site</a></li>
            </ul>
            </div>
          </div>
        </div>

      </div> <!-- End Row 2 -->


      <!-- ********************************** -->
      <!-- Row 3 -->
      <div class="row">

        <!-- ********************************** -->
        <!-- Colmar Academy -->
        <div class="col-md-6">
          <div class="front-end-project">
            <img class="pics" src="../static/images/projects/front_end/colmar_academy.png">
            <div class="project-description text-center">
              <p class="project-title"><em>Colmar Academy</em></p>
              <ul >
                <li><a target="_blank" href="https://github.com/salvillalon45/codecademy-capstoneColmarAcademy">GitHub Repository</a></li>
                <li> | </li>
                <li><a target="_blank" href="https://salvillalon45.github.io/codecademy-capstoneColmarAcademy/capstone_colmar_assets/">Site</a></li>
             </ul>
            </div>

          </div>
        </div>

          <!-- ********************************** -->
          <!-- Tea Cozy -->
          <div class="col-md-6">
            <div class="front-end-project">
              <img class="pics" src="../static/images/projects/front_end/shell_optics.png">
              <div class="project-description text-center">
                <p class="project-title"><em>Tortoiseshell Optics</em></p>
                <ul >
                  <li><a target="_blank" href="https://github.com/salvillalon45/codecademy-tortoiseshellOptics">GitHub Repository</a></li>
                  <li> | </li>
                  <li><a target="_blank" href="https://salvillalon45.github.io/codecademy-tortoiseshellOptics/">Site</a></li>
              </ul>
              </div>
            </div>
          </div>

        </div> <!-- End Row 3 -->

        <!-- ********************************** -->
        <!-- Row 4 -->
        <div class="row">

          <!-- ********************************** -->
          <!-- Tribute Page -->
          <div class="col-md-6">
            <div class="front-end-project">
              <img class="pics" src="../static/images/projects/front_end/tribute_page.png">
              <div class="project-description text-center">
                <p class="project-title"><em>Sherwynn Tribute Page</em></p>
                <ul >
                  <li><a target="_blank" href="https://github.com/salvillalon45/freecodecamp-sherwynnTributepage">GitHub Repository</a></li>
                  <li> | </li>
                  <li><a target="_blank" href="https://salvillalon45.github.io/freecodecamp-sherwynnTributepage/">Site</a></li>
               </ul>
              </div>

            </div>
          </div>

            <!-- ********************************** -->
            <!-- Quote Generator -->
            <div class="col-md-6">
              <div class="front-end-project">
                <img class="pics" src="../static/images/projects/front_end/random_quote.png">
                <div class="project-description text-center">
                  <p class="project-title"><em>Quote Generator</em></p>
                  <ul >
                    <li><a target="_blank" href="https://github.com/salvillalon45/freecodecamp-randomQuoteGeneratorV2">GitHub Repository</a></li>
                    <li> | </li>
                    <li><a target="_blank" href="https://salvillalon45.github.io/freecodecamp-randomQuoteGeneratorV2/">Site</a></li>
                </ul>
                </div>
              </div>
            </div>

          </div> <!-- End Row 3 -->



    </div> <!-- End Front-End Container -->
  </div> <!-- End Front-End Section -->

  </div>

    <!-- *************************************
      Buttons Section
    -->
    <div class="container text-center github-btn">
      <a class="btn btn-primary" target="_blank" href="https://github.com/salvillalon45" role="button">Find more on GitHub</a>
    </div>

</main>



  <!-- *************************************
    Footer Section
  -->
  <footer class="footer">
    <p> Made by Salvador Villalon </p>
    <ul>
      <a target="_blank" href="https://medium.com/@salvav1"><li>Medium</li></a>
      <li> | </li>
      <a target="_blank" href="https://github.com/salvillalon45"><li>GitHub</li></a>
      <li> | </li>
      <a target="_blank" href="https://www.linkedin.com/in/salvadorvillalon/"><li>LinkedIn</li></a>
      <li> | </li>
      <a target="_blank" href="../index.html"><li>personal website version 2</li></a>
      <li> | </li>
      <a target="_blank" href="http://salvador-villalon.appspot.com/"><li>personal website version 1</li></a>
    </ul>
  </footer>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>


  </body>
</html>
